body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

body>* {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

/*------------ NAV ------------*/


nav {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    background-color: black;
}

.navLinks, .account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.account {
    cursor: pointer;
    transition: all 0.3s ease;
    border-bottom: 2px solid #00000000;
}.account:hover {
    border-bottom: 2px solid white;
}.account:hover img {
    scale: 1.05;
}.account p:is(:empty) {
    display: none;
}

nav>*:first-child {
    padding-top: 8px;
}

.navLinks a {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #00000000;
    padding-inline: 10px;
} .navLinks a:hover {
    border-bottom: 2px solid white;
    background-color: #565555;
}


/* POPUP */
.popup {
    display: none;
    position: absolute;
    top: 68px;
    right: 10px;
    width: 300px;
    padding: 20px 12px;
}

body .popupVisible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
body .popupVisible h1 {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
}
body .popupVisible .close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    background-color: white;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    transition: all 0.3s ease-in-out;
} body .popupVisible .close:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.popupVisible button {
    background-color: #fcaf17;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
} .popupVisible button:hover {
    background-color: black;
    color: #fcaf17;
    scale: 1.01;
}
.popupVisible form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.popupVisible form input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
} .popupVisible form input:focus {
    outline: 2px solid #fcaf17;
}


/* main content */

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-grow: 1;
    margin-top: 20px;
}

.presentation p {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5em;
    max-width: 85%;
}

.baniere img {
    width: 100vw;
    height: auto;
}

.jeux .titre {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.jeux .titre .type {
    display: flex;
    align-items: center;
    gap: 10px;
}

.jeux .titre .type>* {
    padding: 5px 20px;
    background-color: #565555;
    border-radius: 15px;
}
.jeux .contenu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: center;
    overflow-x: auto;
    gap: 15px;
    padding: 20px;
}
.jeux .contenu img {
    height: 300px;
    width: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
} .jeux .contenu img:hover {
    scale: 1.05;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}


/*------------ FOOTER ------------*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: black;
    margin-top: 20px;
}
footer .info {
    display: flex;
    align-items: center;
    gap: 10px;
}