body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    gap: 20px;
    min-height: 2000px;
}

#div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightblue;
    margin-top: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: left;
}
.navchild {
    width: 50px;
    height: 5px;
    background-color: white;
}
.navText {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#formBase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

/* calculatrice  */
.calculatrice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    max-width: 200px;
}
.calculatrice button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: right;
    background-color: #333;
}