:root {
    --bg-main: #171717;
    --bg-secondary: #212121;

    --text-main: #ffffff;
    --text-muted: gray;
    --text-muted-2: #535353;

    --accent: #27ae60;

    --border-main: #ffffff;
    --border-dark: #000000;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: "DM Sans", sans-serif;
}
body > * {
    margin-bottom: 5px;
}

.gris {
    color: var(--text-muted);
}

.vert {
    color: var(--accent);
}

/* navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 4rem;
}

nav h1 {
    margin: 0;
    padding: 0.5rem 1rem;
}

.knowMore {
    display: flex;
    gap: 2rem;
    transition: 0.5s;
}

.knowMore>* {
    cursor: pointer;
    padding: 0.5rem 1rem;
}.knowMore>div:hover {
    background-color: var(--text-muted-2);

}

/* section 1 */

.section1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 4rem;
}

.buttonContainer {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.buttonContainer > * {
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.buttonContainer > *:hover {
    transform: scale(1.05);
}

.buttonContainer > *:first-child {
    background-color: var(--accent);
}

.buttonContainer > *:last-child {
    background-color: inherit;
    color: var(--text-main);
    border: 2px solid var(--border-main);
}

.section1 h1 {
    font-size: 48px;
    margin: 0;
}

.section1 img {
    width: 40%;
}

/* section 2 */

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
    gap: 2rem;
}

/* section 3 */

.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
    gap: 2rem;
}

.section3 > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.section3 h1,
.section3 p {
    margin: 0;
    font-size: 18px;
}

.section3 .cercle,
.section3 .cercle > * {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section3 .cercle > * {
    width: 15px;
    height: 15px;
    background-color: var(--accent);
    cursor: pointer;
}

.section3  a {
    color: inherit;
    text-decoration: none;
}

/* section 4 */

.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
    gap: 2rem;
}

.section4 .selectionContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.section4 .selectionContainer > div {
    border: none;
    background-color: var(--bg-secondary);
    color: var(--text-muted-2);
    font-size: 36px;
    padding-top: 1rem;
    padding-inline: 1rem;
    width: 16rem;
    text-align: left;
}

.section4 .selectionContainer > div.selected {
    border: 1px solid var(--border-dark);
    border-bottom: 2px solid var(--accent);
}

/* section 5 */
.section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
    gap: 2rem;
}

.section5 .stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-secondary);
    border: 1px solid var(--text-muted-2);
    gap: 4rem;
    padding: 2rem 4rem;
}

.section5 .stats  p {
    font-size: 24px;
    margin: 0;
}

.section5 .stats  h1 {
    font-size: 72px;
    margin: 0;
}

/* section 6 */

.section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
    gap: 2rem;
}

.section6 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 60%;
    min-width: 300px;
}

.section6 .formFill {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}
.section6 .formFill>* {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.section6 .formFill * {
    width: 100%;
}

.section6 input {
    border: none;
    border-bottom: 2px solid var(--text-muted-2);
    background-color: inherit;
    color: var(--text-muted-2);
    resize: none;
    padding-bottom: 5px;
}.section6 input::placeholder {
    color: var(--text-muted-2);
}.section6 input:focus {
    outline: none;
    border-bottom: 2px solid var(--accent);
}

.section6 textarea {
    border: none;
    border: 2px solid var(--text-muted-2);
    background-color: inherit;
    color: var(--text-muted-2);
    resize: none;
    width: calc(100% - 0.5rem);
    padding: 7px;
    height: 100px;
}.section6 textarea::placeholder {
    color: var(--text-muted-2);
}.section6 textarea:focus {
    outline: none;
    border: 2px solid var(--accent);
}

.section6 button {
    padding: 0.5rem 1.5rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--accent);
    color: white;
}.section6 button:hover {
    transform: scale(1.05);
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-top: 1px solid var(--text-muted-2);
}


/* RESPONSIVE */
@media screen and (max-width: 450px) {
    nav {
        flex-direction: column;
        gap: 1rem;
        padding-inline: 2rem;
    }

    .section1 {
        flex-direction: column;
        gap: 2rem;
        padding-inline: 2rem;
    }.section1 img {
        width: 100%;
    }

    .section3,
    .section4,
    .section5,
    .section6 {
        flex-wrap: wrap;
        padding: 0;
    }

    .section4 .selectionContainer {
        flex-direction: column;
    }

    .section5 .stats {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
    }
    .section5 .stats>* {
        border: 1px solid black;
    }
    /*ajouter le burger */
}
